<header data-theme="dark" class="flex items-center justify-between bg-gray-200 px-4 py-4">
  <div class="flex flex-col">
    <h1 class="pl-4 text-4xl font-bold">Etherchat</h1>
    <p class="pl-4 text-2xl">Personal AI Assistant</p>
    <p class="pl-4 text-sm">Share this chat room <em><%= @uri %></em></p>
    <p class="pl-4 text-sm">Or <button class="btn-link" phx-click="refresh">Create</button> a new random chat room</p>
  </div>
  <img class="ml-auto h-40 px-4 py-4" src={~p"/images/logo.png"} alt="Logo" />
</header>
<main class="px-4 py-4 sm:px-6 lg:px-8">
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer data-theme="dark" class="bg-gray-200 px-4 py-4 text-center text-sm text-gray-600">
  Powered by ChatGPT 🚀
</footer>
