# fly.toml app configuration file generated for etherbot on 2023-05-06T12:56:09-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "etherbot"
primary_region = "dfw"
kill_signal = "SIGTERM"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[env]
  PHX_HOST = "etherbot.fly.dev"
  PORT = "8080"
  PRIMARY_REGION = "dfw"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0
